/*>>>>>>>>>>>>>>>>>>> Elementos generales <<<<<<<<<<<<<<<<<<<*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
* {
    font-family: "Amatic SC", cursive;
    text-align: center;
}

*::selection {
    background-color: #fff;
    color: #000;
}

:root {
    --color-primario: rgba(255, 255, 255, 0);
    --color-secundario: #fff;

    --borde-primario: solid 8px var(--color-secundario);
    --radio-borde: 1rem;

    --titulo: 2rem;
}

html,
body {
    background-color: var(--color-primario);
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    overflow: hidden;
}

/*----------Preloader container----------*/
.preloader-container-structure {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-container-skin {
    background-color: #000;
}

/*----------Preloader----------*/
.preloader-structure {
    width: 100px;
    height: 100px;
}

.preloader-skin {
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

/*----------Preloader animation----------*/
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}


/*>>>>>>>>>>>>>>>>>>> Particles JS <<<<<<<<<<<<<<<<<<<*/
.particles-structure{
    width: 110vw;
    height: 110vh;
    position: absolute;
    top: -5vh;
    left: -5vw;
    z-index: -1;
}

.particles-skin{
    background-color: #000;
}

/*>>>>>>>>>>>>>>>>>>> Contenedor principal <<<<<<<<<<<<<<<<<<<*/
.contenedor-principal-structure {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh 75vh;
    grid-template-areas:
        "cabecera"
        "articulo"
        "articulo";
}

.contenedor-principal-skin {
    font-size: var(--titulo);
    font-weight: bold;
    background-color: var(--color-primario);
}

/*>>>>>>>>>>>>>>>>>>> Contenedor cabecera <<<<<<<<<<<<<<<<<<<*/
.contenedor-cabecera-structure {
    grid-area: cabecera;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-cabecera-skin {
    background-color: var(--color-primario);
    letter-spacing: 0.5rem;
    font-size: var(--titulo);
    font-weight: bold;
}

.contenedor-cabecera-skin::before,
.contenedor-cabecera-skin::after {
    content: "";
    flex: 1 1;
    border-bottom: var(--borde-primario);
    margin: 1rem;
}

/*>>>>>>>>>>>>>>>>>>> Boton titulo <<<<<<<<<<<<<<<<<<<*/
.boton-titulo-structure {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}

.boton-titulo-skin {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: var(--borde-primario);
    border-radius: var(--radio-borde);
    color: var(--color-secundario);
    font-size: var(--titulo);
    cursor: pointer;
    transition-property: background-color, color, transform;
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
}

.boton-titulo-skin:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    transform: scale(1.1);
}

/*>>>>>>>>>>>>>>>>>>> Contenedor articulo <<<<<<<<<<<<<<<<<<<*/
.contenedor-articulo-structure {
    grid-area: articulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-articulo-skin {
    background-color: var(--color-primario);
    font-size: var(--titulo);
    font-weight: bold;
}

/*>>>>>>>>>>>>>>>>>>> Seccion texto <<<<<<<<<<<<<<<<<<<*/
.seccion-texto-structure {
    width: 80%;
    height: 90%;
    max-height: 500px;
    z-index: 10;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.seccion-texto-skin {
    color: var(--color-secundario);
    background-color: rgba(0, 0, 0, 0.8);
    border: var(--borde-primario);
    border-radius: var(--radio-borde);
    font-size: var(--titulo);
    font-weight: bold;
}

.contenedor-comandos-structure{
    -moz-column-count: auto;
    -moz-column-gap: auto;
    -webkit-column-count: auto;
    -webkit-column-gap: auto;
    column-count: 3;
    column-gap: auto;
}

.contenedor-comandos-structure *{
    list-style: none;
    text-align: center;
}


/*>>>>>>>>>>>>>>>>>>> Media Query <<<<<<<<<<<<<<<<<<<*/
@media screen and (min-width: 1200px) and (max-width: 1600px) { 
    :root {
        --titulo: 2.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) { 
    :root {
        --titulo: 2rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) { 
    :root {
        --titulo: 1.9rem;
    }

    .boton-titulo-skin {
        letter-spacing: 0.2rem;
    }

    .contenedor-comandos-structure{
        -moz-column-count: auto;
        -moz-column-gap: auto;
        -webkit-column-count: auto;
        -webkit-column-gap: auto;
        column-count: 1;
        column-gap: auto;
    }

    .title-comandos-structure{
        font-size: var(--titulo);
    }

    .lista-comandos-structure{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 319px) { 
    :root {
        --titulo: 1.3rem;
    }

    .boton-titulo-skin {
        letter-spacing: 0.2rem;
    }

    .contenedor-comandos-structure{
        -moz-column-count: auto;
        -moz-column-gap: auto;
        -webkit-column-count: auto;
        -webkit-column-gap: auto;
        column-count: 1;
        column-gap: auto;
    }

    .title-comandos-structure{
        font-size: var(--titulo);
    }

    .lista-comandos-structure{
        font-size: 0.9em;
    }
}
